@page "/login"
@using BlazorWasmAuthentication.DTOs
@using BlazorWasmAuthentication.Services
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

<fieldset disabled="@(_expiration is not null)">
    <EditForm Model="@model" OnValidSubmit="SubmitAsync">
        <div>
            <label for="username">Username:</label>
            <InputText @bind-Value="@model.Username" id="username" name="username" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <InputText type="password" autocomplete="off" @bind-Value="@model.Password" id="password" name="password" required />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </EditForm>
</fieldset>

@if (_expiration is not null)
{
    <p>You are logged in until @_expiration?.ToLocalTime().ToLongTimeString()</p>
}

@if (_errorMessage is not null)
{
    <p class="error">@_errorMessage</p>
}

@code {
    private LoginDto model = new LoginDto();

    private DateTime? _expiration;
    private string? _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Normal Write Line");
        Console.Out.WriteLine("Out Write Line");
        await Console.Out.WriteLineAsync("Out Write Line Async");
        // check if the user is logged in by cheking the jwt in storage
        string jwt = await AuthService.GetJwtAsync();

        // if it is redirect to all reviews page
        if (jwt is not null)
        {
            NavManager.NavigateTo("all-reviews");
        }

        model.Username = "Alejo Hdez";
        model.Password = "1234Aho.";
    }

    private async Task SubmitAsync()
    {
        try
        {
            _errorMessage = null;
            _expiration = await AuthService.LoginAsync(model);
        }
        catch (Exception ex)
        {
            _expiration = null;
            _errorMessage = ex.Message;
        }
    }
}
